<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:wicket="http://wicket.apache.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<span wicket:id="header"></span>
		<table>
			<tr>
				<td width="40%">
					<wicket:link>
						<a href="HomePage.html">Home</a><br/>
						<a href="ProductsPage.html">Products</a><br/>
						<a href="ContactPage.html">Contac</a><br/>
					</wicket:link>
				</td>
				<td>
					<wicket:child>
						This is to be provided by the child template
					</wicket:child>
				</td>
			</tr>
		</table>
	</body>
</html>